body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }


  /* Header Jumbotron */
  .jumbotron {
    text-align: center;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    background-image: url(../assets/images/background.jpg);
  }
  
  button#clear-cal {
    margin-top: 10px
  }
  form {
    display: flex;
    margin: 0.5rem 0;
  
  }
  
  .hour {
    border-top: 1px dashed #000000;
    text-align: right;
    background-color: #ffffff;
    padding: 10px;
    color: #000000;
    font-weight: bold;
  }
  .row {
    height: 80px;
    white-space: pre-wrap;
    border-top: 1px solid white;;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 20px;
  }
  
  header {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    padding: 60px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: brown;
    color: rgb(0, 0, 0);
  }
  
  .present {
    background-color: #61d7ff;
    color: black;
  }
  
  .future {
    background-color: greenyellow;
    color: black;
  }
  
  .saveBtn {
    font-size: 1.5em;
  border-left: 1px solid black;
  border-right: none;
  border-top: none;
  border-bottom: none;
  margin-left: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 1.4rem; 
    transition: all 0.15s ease-in-out; 
  }
  
  